* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    font-family: monospace;
    transition: background 1s ease;
}

.content {
    width: 80%;
    max-width: 810px;
    height: 400px;
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.colors-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 210px;
}

.color-item {
    position: relative;
    flex-grow: 1;
    padding: 18px;
    background: rgb(109, 141, 162);
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.color-item.color-item_dark {
    color: #222;
}

.color-item:after {
    content: 'Click to copy';
    position: absolute;
    right: 6px;
    bottom: 6px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.color-item:hover::after {
    opacity: 0.7;
}

.image-container {
    flex-grow: 1;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controls {
    display: flex;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}

.control_item {
    padding: 12px;
    color: white;
    font-size: 16px;
    text-shadow: #222 0 0 2px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }

    .colors-container {
        width: 100%;
        flex-direction: row;
    }

    .color-item {
        text-align: center;
    }

    .color-item:after {
        right: 0;
        bottom: 2px;
        width: 100%;
        font-size: 10px;
        text-align: center;
    }
}
